---
layout: page
title: My Portfolio
subtitle: Justin Ferguson
css: /assets/css/portfolio.css
cover-img: /assets/img/portfolio.svg
port-171220-tags: [Database, Relational Databases, Relational Model, SQL, SQL Query, Oracle Database, SQL Developer, Entity-Relationship Model, Entity-Relationship Diagram, ER Model, ER Diagram, UML, UML Diagram, Normalisation, Business Modelling, Entity-Relationship Model, Functional Dependencies, Business Rules, Sample Data, Data Science, Data]
port-101220-tags: [Data Science, Data Analysis, Data Visualisation, Report, Analytics, SAS, SAS Enterprise Guide, SAS Studio, SQL, Big Data, Statistics, Statistical Analysis, Statistical Tests, Statistical Methods]
---

<section>
   <div class="container-md" style="padding-top:1rem;" role="main">
      <div class="row">
         <div class="col-md-12">
            <div class="posts-list" style="margin-top:0px; padding-top:0px;">
               <article class="post-preview">
                  <a href="https://github.com/j-b-ferguson/relational-database-design-and-test">
                     <h1 class="post-title" style="margin-top:0px; padding-top:0px; text-align:justify;">Designing and Testing a Relational Database for The Happy Phone Company</h1>
                     <h3 class="post-subtitle" style="text-align:justify;">
                        A report to show the important steps in relational database design.
                     </h3>
                  </a>
                  <p class="post-meta">
                     Posted on December 17, 2020
                  </p>
                  <div class="w-25 img-fluid img-thumbnail float-right ml-4">
                     <a href="https://github.com/j-b-ferguson/relational-database-design-and-test" aria-label="Thumbnail">
                     <img src="/assets/img/database.png" alt="Post thumbnail">
                     </a>
                  </div>
                  <div class="post-entry" style="text-align:justify;">
                     The Happy Phone Company is a fictitious retailer of various makes and models of mobile phones. The business requires a new database to help manage data concerning employees, customers, suppliers, phones and contracts.
                     <a href="https://github.com/j-b-ferguson/relational-database-design-and-test" class="post-read-more">[Read&nbsp;More]</a>
                  </div>
                  <div class="blog-tags" style="text-align: justify;">
                        <span>Tags:</span>
                        {% for port-171220-tag in page.port-171220-tags %}
                        <a href="/tags#{{ port-171220-tag }}">{{ port-171220-tag }}</a>
                        {% endfor %}
                  </div>
               </article>           
               
               <article class="post-preview">
                  <a href="https://github.com/j-b-ferguson/usa-storm-events-2019-data-analysis">
                     <h1 class="post-title" style="text-align:justify; margin-top:0px; padding-top:0px;">An Analysis of 2019 Storm Events in the USA</h1>
                     <h3 class="post-subtitle" style="text-align:justify;">
                        A report to analyse and quantify the effect of storm events in 2019 in the USA by using SAS and SQL code in combination with statistical methods.
                     </h3>
                  </a>
                  <p class="post-meta">
                     Posted on December 10, 2020
                  </p>
                  <div class="w-25 img-fluid img-thumbnail float-right ml-4">
                     <a href="https://github.com/j-b-ferguson/usa-storm-events-2019-data-analysis" aria-label="Thumbnail">
                     <img src="/assets/img/tornado.jpg" alt="Post thumbnail">
                     </a>
                  </div>
                  <div class="post-entry" style="text-align:justify;">
                     The analysis of data on past weather events is a vitally important process to understand, predict, and plan for future events. Of particular importance is to better understand the impact that storm events may have on property, crops, and human life.
                     <a href="https://github.com/j-b-ferguson/usa-storm-events-2019-data-analysis" class="post-read-more">[Read&nbsp;More]</a>
                  </div>
                  <div class="blog-tags" style="text-align:justify;">
                     <span>Tags:</span>
                     {% for port-101220-tag in page.port-101220-tags %}
                     <a href="/tags#{{ port-101220-tag }}">{{ port-101220-tag }}</a>
                     {% endfor %}
                  </div>
               </article>
               
               <article class="post-preview">
                  <a href="https://github.com/j-b-ferguson/covid-19-australia-preprocessing">
                     <h1 class="post-title" style="text-align:justify; margin-top:0px; padding-top:0px;">COVID-19 Australian Data Cleaning</h1>
                     <h3 class="post-subtitle" style="text-align:justify;">
                        Joining, cleaning, and transforming untidy Australian COVID-19 data sets, in preparation for data analysis and predictive modelling.
                     </h3>
                  </a>
                  <p class="post-meta">
                     Posted on December 2, 2020
                  </p>
                  <div class="w-25 img-fluid img-thumbnail float-right ml-4">
                     <a href="https://github.com/j-b-ferguson/covid-19-australia-preprocessing" aria-label="Thumbnail">
                     <img src="/assets/img/hospital.PNG" alt="Post thumbnail">
                     </a>
                  </div>
                  <div class="post-entry" style="text-align:justify;">
                     This notebook brings together data of worldwide COVID-19 cases and Australian COVID-19 testing. Through a series of pre-processing steps, the data is filtered for cases and tests relevant to Australian states. It is then tidied, scanned, and transformed, as required.
                     <a href="https://github.com/j-b-ferguson/covid-19-australia-preprocessing" class="post-read-more">[Read&nbsp;More]</a>
                  </div>
                  <div class="blog-tags" style="text-align:justify;">
                     <span>Tags:</span>
                     <a href="https://j-b-ferguson.github.io/tags#R">R</a>
                     <a href="https://j-b-ferguson.github.io/tags#RStudio">RStudio</a>
                     <a href="https://j-b-ferguson.github.io/tags#data-cleaning">Data Cleaning</a>
                     <a href="https://j-b-ferguson.github.io/tags#data-processing">Data Processing</a>
                     <a href="https://j-b-ferguson.github.io/tags#data-visualisation">Data Visualisation</a>
                     <a href="https://j-b-ferguson.github.io/tags#data-science">Data Science</a>
                     <a href="https://j-b-ferguson.github.io/tags#machine-learning">Machine Learning</a>
                     <a href="https://j-b-ferguson.github.io/tags#tidy-data-principles">Tidy Data Principles</a>
                     <a href="https://j-b-ferguson.github.io/tags#imputation">Imputation</a>
                     <a href="https://j-b-ferguson.github.io/tags#data-analysis">Data Analysis</a>
                     <a href="https://j-b-ferguson.github.io/tags#statistics">Statistics</a>
                     <a href="https://j-b-ferguson.github.io/tags#ggplot2">ggplot2</a>
                     <a href="https://j-b-ferguson.github.io/tags#k-nearest-neighbours">K-nearest neighbours</a>
                     <a href="https://j-b-ferguson.github.io/tags#algorithms">Algorithms</a>
                     <a href="https://j-b-ferguson.github.io/tags#data-structures">Data Structures</a>
                  </div>
               </article>
            </div>
         </div>
      </div>
   </div>
</section>
