html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

footer {
	margin-top: auto;
}

h1 {
	padding-top: 5rem;
	color: #404040;
}

h1::after { 
	content: '.';
	color: #890000; 
}

.intro-header.big-img .page-heading hr {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.page-subheading {
	color: #404040;
	text-shadow: none;
}

.intro-header.big-img .page-heading,
.intro-header.big-img .post-heading {
	padding: 6.25rem 0;
  	color: #404040;
  	text-shadow: 1px 1px 3px #000;
}

.intro-header.big-img {
  margin-bottom: 1rem;
}

.like-sub-p {
	font-size: 1.125rem;
	padding-top:0px;
	text-align:justify;
	margin-top:0%;
  	line-height: 1.5;
  	display: block;
  	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
  	margin: 0.625rem 0 0;
}

.like-sub-typed {
	font-size: 1.375rem;
  	line-height: 1.1;
  	display: block;
  	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
  	margin: 0.625rem 0 0;	
}

.timeline ul li {
  background: #f9f9ff;
  position: relative;
  margin: 0 auto;
  width: 2px;
  padding-bottom: 40px;
  list-style-type: none;
}

.timeline ul li:last-child {
  padding-bottom: 7px;
}

.timeline ul li:before {
  content: '';
  background: #890000;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #eee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.timeline ul li .hidden {
  opacity: 0;
}

.timeline ul li .content {
  background-color: white !important;
  box-shadow: 0px 10px 27px 3px rgba(204, 204, 204, 0.2);
  position: relative;
  top: 7px;
  width: 360px;
  padding: 30px;
}

.timeline ul li .content h4 {
  padding-bottom: 10px;
  text-align: center;
}

.timeline ul li .content p {
  text-align: center;
  margin-bottom: 5px;
}

.timeline ul li .content p b {
  color: #222;
}

.timeline ul li:nth-child(odd) .content {
  left: 50px;
}

.timeline ul li:nth-child(odd) .content:before {
  left: -38px;
}

.timeline ul li:nth-child(even) .content {
  left: calc(-360px - 45px);
}

.timeline ul li:nth-child(even) .content:before {
  right: -38px;
}

@media screen and (max-width: 1020px) {
  .timeline ul li .content {
    width: 41vw;
  }
  .timeline ul li:nth-child(even) .content {
    left: calc(-41vw - 45px);
  }
}

@media screen and (max-width: 700px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li .content {
    width: calc(100vw - 100px);
  }
  .timeline ul li .content h2 {
    text-align: initial;
  }
  .timeline ul li:nth-child(even) .content {
    left: 45px;
  }
  .timeline ul li:nth-child(even) .content:before {
    left: -33px;
  }
}

.mb-0 > a {
  display: block;
  position: relative;
}

.mb-0 > a:after {
  content: "\002B";
  position: absolute;
  right: 0;
}

.mb-0 > a[aria-expanded="true"]:after {
  content: "\2212";
}

.card-header a {
  color: #404040;
  font-size: 1.125rem;
  font-weight: 400;
  text-shadow: none;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.card-header a:hover {
  color: #890000;
}
