html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

footer {
	margin-top: auto;
}

h1 {
	padding-top: 5rem;
	color: #404040;
}

h1::after { 
	content: '.';
	color: #890000; 
}

.intro-header.big-img .page-heading hr {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.page-subheading {
	color: #404040;
	text-shadow: none;
}

.intro-header.big-img .page-heading,
.intro-header.big-img .post-heading {
	padding: 6.25rem 0;
  	color: #404040;
  	text-shadow: 1px 1px 3px #000;
}

.intro-header.big-img {
  margin-bottom: 1rem;
}

.like-sub-p {
	font-size: 1.125rem;
	padding-top:0px;
	text-align:justify;
	margin-top:0%;
  	line-height: 1.5;
  	display: block;
  	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
  	margin: 0.625rem 0 0;
}

.like-sub-typed {
	font-size: 1.375rem;
  	line-height: 1.1;
  	display: block;
  	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
  	margin: 0.625rem 0 0;	
}

.topics {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.9375rem;
  color: #404040;
  opacity: 0.5;
  text-align: justify;
}

.post-preview {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.post-preview .post-meta {
  color: #808080;
  font-size: 1.125rem;
  font-style: italic;
  margin: 0 0 0.625rem;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.posts-list {
  margin-top:0px;
  padding-top:0px;
}

.container-md {
  padding-top:1rem;
}

.post-title {
  margin-top:0px;
  padding-top:0px;
  text-align:justify;
}

.page-subtitle {
  text-align:justify;	
}

.post-entry {
  text-align:justify; 
  font-size:1rem;
}

.topics {
  padding-top:4rem;
}
